{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Tarea</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plaster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap" rel="stylesheet">

</head>

<body>
    <div class="header">
        <h1 class="logo1">Lista de tareas</h1>
    </div>

    <div class="center">
        <div class="form-1">
            <h1 class="titulo">Crear Tarea</h1>

            <form action="{% url 'crear_tarea' %}" method="POST">
                {% csrf_token %}

                <div class="form-2">
                    <div>
                        <label for="titulo">Título:</label>
                    </div>
                    <div>
                        <input class="input" type="text" id="titulo" name="titulo" required><br>
                    </div>

                    <div>
                        <label for="descripcion">Descripción:</label>
                    </div>

                    <textarea class="input" class="input" id="descripcion" name="descripcion" required></textarea><br>

                    <label for="estado">Estado:</label>

                    <select class="input" id="estado" name="estado" required>
                        <option value="Pendiente">Pendiente</option>
                        <option value="Completado">Completado</option>
                    </select><br>

                    <button class="boton1" type="submit">Guardar</button>
                    <a href="{% url 'listar_tareas' %}" class="boton1">atras</a>
                </div>
            </form>
        </div>
    </div>
</body>

</html>