{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALIOTH</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plaster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header">
        <h1 class="logo1">ALIOTH</h1>
        <a href="{% url 'inicio_sesion' %}" class="boton3">Salir</a>
    </div>

    <div class="center">
        <div class="form-1">
            <h1 class="titulo">Lista de tareas</h1>
            <ul class="tareas">
                {% for tarea in tareas %}
                <li class="form-2">
                    {{ tarea.titulo }} - {{ tarea.estado }}
                    <div class="formulario">
                        <form action="{% url 'editar_tarea' tarea.id %}" method="GET">
                            <button class="boton1" type="submit">Editar</button>
                        </form>
                        <form action="{% url 'eliminar_tarea' tarea.id %}" method="POST">
                            {% csrf_token %}
                            <button class="boton1" type="submit">Eliminar</button>
                        </form>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div class="nueva_tarea">
                <a href="{% url 'crear_tarea' %}" class="boton3">nueva tarea</a>
            </div>
        </div>
    </div>

</body>
</html>